<template>
    <div class="home">
        <el-dialog
                title="Создать обращение"
                :visible.sync="formCreateTicket"
                width="30%"
                center>
            <el-form :model="form" label-position="top">
                <el-form-item label="Тема обращения">
                    <el-input v-model="form.theme" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Тип обращения">
                    <el-select v-model="form.type" placeholder="Please select a zone" class="w-full">
                        <el-option v-for="type in formTypes" :label="type.label" :value="type.value"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="centerDialogVisible = false">Создать</el-button>
            </span>
        </el-dialog>
        <div>
            <div class="flex items-center justify-between mb-10 xs:flex-col xs:items-start">
                <h1 class="text-4xl xs:mb-2">Обращения</h1>
                <el-button type="primary" class="bg-blue-700 border-blue-700" @click="formCreateTicket = true">Создать
                    обращение
                </el-button>
            </div>

            <router-link :to="{name: 'ticket', params: { id: threads[threadIndex - 1].id, title: threads[threadIndex - 1].theme}}"
                         class="block w-full py-2 bg-blue-100 px-5 py-5 rounded mb-5 hover:bg-blue-200 transition duration-500"
                         v-if="threadIndex <= threads.length"
                         v-for="threadIndex in threadsToShow">
                <h2 class="text-lg mb-2">
                    {{ threads[threadIndex - 1].theme }}
                </h2>
                <footer class="flex items-center justify-between w-full">
                    <span>Автор: <span
                            class="text-yellow-600">{{ threads[threadIndex - 1].created_by_name }}</span></span>
                    <span class="text-xs text-gray-500">{{threadDate(threads[threadIndex - 1])}}</span>
                </footer>

            </router-link>
            <scroll-loader :loader-method="loadMore" :loader-disable="disableLoading">
            </scroll-loader>
        </div>
    </div>
</template>

<script>

    import SvgIcon from "../components/SvgIcon";
    import threads from '../data/threads';
    import moment from 'moment';
    import {formatDate} from "../units/main";

    export default {
        name: 'home',
        components: {SvgIcon},
        data() {
            return {
                activeNames: ['0'],
                formCreateTicket: false,
                form: {
                    theme: '',
                    type: 1
                },
                threads: threads,
                totalThreads: 0,
                threadsToShow: 10,
                disableLoading: false,
                formTypes: [
                    {
                        label: 'Тема обращения 1',
                        value: 1
                    },
                    {
                        label: 'Тема обращения 2',
                        value: 2
                    },
                    {
                        label: 'Тема обращения 3',
                        value: 3
                    },
                    {
                        label: 'Тема обращения 4',
                        value: 4
                    }
                ]
            }
        },
        computed: {},
        methods: {
            threadDate(thread) {
                return formatDate(thread.created_at);
            },
            loadMore() {
                this.threadsToShow += 10;

                if (this.threads.length <= this.threadsToShow) {
                    this.disableLoading = true;
                }
            },
        },
        mounted() {
            this.totalThreads = this.threads.length;
        }
    }
</script>

<style lang="scss">

    .home {
        .el-collapse-item__header {
            height: auto;
            line-height: 36px;
            align-items: baseline;
        }

        .el-form-item__label {
            line-height: 20px;
        }
    }


</style>
