<template>
    <section>
        <h1 class="text-4xl mb-2">{{ title }}</h1>
        <div class="max-w-lg">
            <el-input
                    type="textarea"
                    :autosize="{ minRows: 6}"
                    placeholder="Написать сообщение"
                    class="w-full mb-2"
                    resize="none"
                    v-model="message">
            </el-input>

            <el-upload
                    class="w-full mb-20"
                    action="http://jsonplaceholder.typicode.com/posts/"
                    :before-remove="beforeRemove"
                    with-credentials
                    multiple
                    :on-exceed="handleExceed"
                    :file-list="fileList">
                <div class="flex items-center justify-between w-full">
                    <span><el-button size="small" type="primary">Добавить файл</el-button></span>
                    <span><el-button type="warning" size="small">Отправить</el-button></span>
                </div>
            </el-upload>
        </div>


        <div class="flex flex-col w-full">
            <article v-for="postIndex in postsToShow" v-if="postIndex <= posts.length"
                     class="mb-10 p-10 bg-blue-100 max-w-3xl xs:p-5 xs:mb-5"
                     :class="{'self-end bg-blue-200': postIndex % 2 === 0}">
                <div class="flex items-center justify-between mb-5 xl:flex-col xs:items-start">
                    <h2 class="text-lg">{{ posts[postIndex - 1].created_by_name }}</h2>
                    <div class="text-md">{{ posts[postIndex - 1].created_at }}</div>
                </div>
                <p>{{ posts[postIndex - 1].message }}</p>
                <template v-if="posts[postIndex - 1].media_data && posts[postIndex - 1].media_data.length">
                    <p class="mb-2 mt-5">Добавленные файлы</p>
                    <div>
                        <a v-for="media in posts[postIndex - 1].media_data" class="mr-2" :href="media.path"
                           target="_blank">
                            <el-button size="mini" class="bg-transparent">
                                {{ media.name }}
                            </el-button>
                        </a>
                    </div>
                </template>

            </article>
        </div>
        <scroll-loader :loader-method="loadMore" :loader-disable="disableLoading">
        </scroll-loader>

    </section>
</template>

<script>
    import posts from '../data/posts';

    export default {
        name: "Ticket",

        data() {
            return {
                title: '',
                message: '',
                posts: posts,
                totalPosts: 0,
                postsToShow: 10,
                fileList: [],
                disableLoading: false
            };
        },
        methods: {
            handleExceed(files, fileList) {
                this.$message.warning(`The limit is 3, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
            },
            loadMore() {
                this.postsToShow += 10;

                if (this.posts.length <= this.postsToShow) {
                    this.disableLoading = true;
                }
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`Удалить файл ${file.name} ?`);
            },
        },
        mounted() {
            this.totalPosts = this.posts.length;
            this.title = this.$route.params.title;
        }
    }
</script>

<style lang="scss">

    .el-upload {
        width: 100%;
    }

</style>