<template>
    <div id="app">
        <el-header class="bg-blue-600 justify-between flex items-center">
            <router-link to="/" class="text-white font-semibold text-xl">ТрансТех</router-link>
            <el-button type="primary" class="bg-blue-700 border-blue-700">Войти</el-button>
        </el-header>

        <el-main>
            <section class="max-w-6xl mx-auto pt-10">
                <router-view/>
            </section>
        </el-main>

    </div>
</template>

<style lang="scss">

    button {

        &:focus, &:active {
            outline: none !important;
        }
    }
</style>
